@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&family=Source+Sans+3:wght@300;400;500&display=swap');

body {
  font-family: 'Source Sans 3', sans-serif;
}

h1 {
  color: #102542;
}

nav {
  background-color: #2A5CB2;
  color: white;
}

.main-layout {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.active-link {
  border-bottom: 2px solid #3490dc;
  padding-bottom: 2px;
}

.tips h2 {
  color: #2A5CB2;
  text-align: center;
  margin: 5rem 0 2rem 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;
}

article {
  background-color: #d8dbe2;
  padding: 1rem;
  text-align: center;
  text-wrap: balance;
}

.submit-btn {
  background-color: #2A5CB2;
  color: white;
}

.submit-btn:hover {
  background-color: #3490dc;
  color: white;
}

footer {
  background-color: #D8DBE2;
  color: #191716
}
